<div class="card">
    <div class="card-body">
      <form (ngSubmit)="addComplaint(societyMemberId.value , subject.value,complaintBody.value)"  [formGroup]="angForm">
        <div class="form-group">
            <div class="form-group">
                <label class="col-md-4">Society Member Id </label>
                <input  type="text" class="form-control" placeholder="Society Member Id" name="societyMemberId" formControlName="societyMemberId" #societyMemberId />
                <div *ngIf="angForm.controls['societyMemberId'].invalid && (angForm.controls['societyMemberId'].dirty || angForm.controls['societyMemberId'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['societyMemberId'].errors.required">
                    Society Member Id is required.
                  </div>
                </div>
              </div>
          <label class="col-md-4">Subject</label>
          <input  type="text" class="form-control" placeholder="Person Name" name= "subject" formControlName="subject" #subject />
          <div *ngIf="angForm.controls['subject'].invalid && (angForm.controls['subject'].dirty || angForm.controls['subject'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['subject'].errors.required">
              Person Name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Complaint Body </label>
            <input  type="text" class="form-control" placeholder="complaintBody" name= "complaintBody"  formControlName="complaintBody" #complaintBody />
            <div *ngIf="angForm.controls['complaintBody'].invalid && (angForm.controls['complaintBody'].dirty || angForm.controls['complaintBody'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['complaintBody'].errors.required">
                Complaint Body is required.
              </div>
            </div>
          </div>
 
          
        <div class="form-group">
          <button (click)="addComplaint(societyMemberId.value , subject.value, complaintBody.value )" 
           class="btn btn-primary">Post Complaint </button>
        </div>
      </form>
    </div>
  </div>