<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="society/dashboard" class="nav-link" routerLinkActive="active">
          <h2>Housing Society Management </h2>
        </a>
      </li> 
    </ul>
  </div>
</nav>
<div class="sidebar">
  <ul>
    <li><a routerLink="society/getMember" class="nav-link" routerLinkActive="active">
  <i class="fa fa-server"></i><span>Members</span></a></li>
    <li>
      <a routerLink="society/addMember" class="nav-link" routerLinkActive="active">
      <i class="fa fa-server"></i><span>Add Member</span></a>
  </li>
    <li>
      <a routerLink="complaint/addComplaint" class="nav-link" routerLinkActive="active">
      <i class="fa fa-server"></i><span>Add Complaints</span></a>
      </li>
      <li>
        <a routerLink="complaint/viewComplaints" class="nav-link" routerLinkActive="active">
          <i class="fa fa-table"></i><span>View Complaints</span></a>
      </li>
    <li>
      <a routerLink="bill/addBill" class="nav-link" routerLinkActive="active">
        <i class="fa fa-table"></i><span>Add Bills</span></a>
    </li>
    <li>
      <a routerLink="bill/viewBills" class="nav-link" routerLinkActive="active">
        <i class="fa fa-table"></i><span>View Bills</span></a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>