<div class="container"  style="margin-top:60px">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">GokulDham Cooperative Society</h2>
                <h4 class="text-center"><em>Satya Nagar, Saki Naka, Mumbai, Maharashtra 400072</em></h4>
                <div class="thumbnail"><img src="https://www.shaligramgroup.in/upload/blogs/4-banner_img.jpg" style="width:100%;">
                    <div class="caption text-center">Best location to live in Mumbai.</div>
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h3>Here's a time line:</h3>
                    <ul class="bullets">
                        <li><b>2010 </b>- Born</li>
                        <li><b>2011 </b>- First Person "Jethalal" who bought flat here.</li>
                        <li><b>2012 </b>- First Security Guard - Mr. Abudul Mirza</li>
                        <li><b>2020 </b>- Mumbai Development Authority values total cost of 55-flats is Rs: 160 crores </li>
                    </ul>
                    <blockquote>
                        <p>A home of indians from different states</p>
                        <footer><cite>Jethalal Gada [Secretatry]</cite></footer>
                    </blockquote>
                    <h3>If you have time, you should come and visit us !!</h3>
                </div>
            </div>
        </div>
    </div> 
</div>